<p style="color: green"><%= notice %></p>

<%= render @participant %>

<h3>My Active Study Connections</h3>
<p>Studies I am connected to; connected where study not closed</p>

<h3>Active Studies Near Me</h3>
<p>List of studies within 100 miles</p>

<h3>Go To Active Fully-Digital Studies</h3>
<p>Link to that page of the site</p>

<h3>My Completed Studies</h3>
<p>list of participations.completed</p>

<h3>My Stats</h3>
<p>Studies requested for: <%= @participant.study_invitations.count %> -- Study invitations: <%= @participant.completed_studies.count %></p>

<h3>My Information</h3>
<p>Stuff that's subject to change; or can use confirmation</p>
<p>Show privacy settings</p>

<div>
  <%= link_to "Edit my information", edit_participant_path(@participant) %> |
  <%= button_to "Destroy this participant", @participant, method: :delete %>
</div>
