<h2>Change password</h2>
<%= form_with(model: @user) do |form| %>
  <%= form.label :password_field, 'New Password:' %>
  <%= form.password_field :password_digest %>
  <br>

  <%= form.label :password_confirmation, 'Password Confirmation:' %>
  <%= form.password_field :password_confirmation %>
  <br>

  <div>
    <%= link_to 'Cancel', user_path(@user) %> |
    <%= form.submit 'Update' %>
  </div>
<% end %>
