<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit my information", edit_user_path(@user) %> |
  <%= link_to "Change my password",  controller: 'users', action: 'change_password', id: @user.id %> |

  <%= button_to "Delete my account", @user, method: :delete %>
</div>
