<%= form_with(model: study) do |form| %>
  <% if study.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(study.errors.count, "error") %> prohibited this study from being saved:</h2>

      <ul>
        <% study.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>View an example of a study</p>

  <%= form.label :title, 'A short title for your study' %>
  <%= form.text_field :title %>
  <br>

  <%= form.label :short_desc, 'A short (two or three sentences) description of your study' %>
  <%= form.text_area :short_desc %>
  <br>

  <%= form.label :long_desc, 'A full description of your study:' %>
  <p>To get the most out of this, explain what a participant can expect to do as part of this study. Include all the information you think they may want to know.</p>
  <p>(Certain information like estimated hours and such will be handled below.)</p>
  <%= form.text_area :long_desc %>
  <br>

  <%= form.label :study_types, 'Expected components of the study' %>
  <%= form.text_field :study_types %>
  <p>i.e.: Survey, interview, tasks, brain scans, training or intervention, genetic testing</p>
  <br>

  <%= form.label :min_age, 'Minimum age for participants:' %>
  <%= form.number_field :min_age, step: 1 %>
  <p>(Leave this blank if there is no minimum age)</p>
  <br>

  <%= form.label :max_age, 'Maximum age for participants:' %>
  <%= form.number_field :max_age, step: 1 %>
  <p>(Leave this blank if there is no maximum age)</p>
  <br>

  <h3>Dates</h3>

  <p>Note: Participants will not be shown studies before the start date or after the end date.</p>
  <p>For a study with no strict end date, leave the end date blank.</p>
  <p>To close a study to new participants, set the "end date" to yesterday.</p>

  <%= form.label :open_date, 'Start date:' %>
  <%= form.date_field :open_date %>

  <%= form.label :end_date, 'End date:' %>
  <%= form.date_field :end_date %>


  <h3>Location</h3>
  LOCATION TOOL

  <h3>Duration</h3>

	<p>Estimated duration (as it will appear to participants): "<%= @study.timeline %>"</p>

  <%= form.label :total_hours, 'Estimated total number of hours to complete the study:' %>
  <%= form.number_field :total_hours, step: 0.25 %>
  <br>

  <%= form.label :total_sessions, 'Estimated number of sessions to complete the study:' %>
  <%= form.number_field :total_sessions, step: 1 %>
  <br>

  <%= form.label :duration_number, 'The total estimated time window of the study:' %>
  <%= form.number_field :duration_number, step: 0.5 %>

  <%= form.radio_button :duration_factor, "days" %>
  <%= form.label :duration_factor_days, "days" %>
  <%= form.radio_button :duration_factor, "weeks" %>
  <%= form.label :duration_factor_weeks, "weeks" %>
  <%= form.radio_button :duration_factor, "months" %>
  <%= form.label :duration_factor_months, "months" %>
  <%= form.radio_button :duration_factor, "years" %>
  <%= form.label :duration_factor_years, "years" %>
  <br>


  <%= form.label :follow_up, 'If your study includes follow-up, explain it here:' %>
  <%= form.text_field :follow_up %>
  <br>

  <%= form.label :remuneration, 'Estimated remuneration (in USD): $' %>
  <%= form.number_field :remuneration, step: 1 %>
  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
