<%= form_with(model: researcher) do |form| %>
  <h3><%= researcher.professional_name %></h3>

  <% if researcher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(researcher.errors.count, "error") %> prohibited this researcher from being saved:</h2>
      <ul>
        <% researcher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>The information in your public profile is meant to make you more approachable (and human) to participants who are interested in your studies.</p>
  <p>It is totally reasonable to copy/paste this information from what is already on your institution's website.</p>

  <%= form.label :institution, 'Your university or professional affiliation:' %>
  <p>If you are affiliated with multiple institutions, enter the list separated by commas</p>
  <p>i.e. "Hogwarts University, Gryffindor Fluency Institute"</p>
  <%= form.text_field :institution %>
  <br>

  <%= form.label :titles, 'Your professional titles:' %>
  <p>i.e. "PhD, CCC-SLP"</p>
  <%= form.text_field :titles %>
  <br>

  <%= form.label :bio, 'Your professional biography:' %>
  <%= form.text_area :bio %>
  <br>

  <%= form.label :research_interests, 'Your research interests:' %>
  <%= form.text_field :research_interests %>
  <br>

  <%= form.label :university_profile_url, 'A link to the profile page on your institution\'s website:' %>
  <%= form.text_area :university_profile_url %>
  <br>

  upload image
  Your headshot

  <div>
    <% if @researcher.id? %>
      <%= link_to 'Edit Name & Email', edit_user_path(id: researcher.user_id) %>
      <%= link_to 'Discard changes', researcher_path(id: researcher.id) %>
    <% end %>
    <%= form.submit 'Save Changes' %>
  </div>
<% end %>
