<!DOCTYPE html>
<html>
  <head>
    <title>SSStutterBuddy</title>
    <%= favicon_link_tag asset_path('favicon/favicon-32x32.png') %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.jsx' %>
    <!-- Visit the Vite Ruby guide for more information: https://vite-ruby.netlify.app/guide/rails -->
  </head>
  <body>
    <div class="container">
      <%= stylesheet_link_tag 'application', media: 'all', type: 'scss' %>
      <%= yield %>
    </div>
  </body>
</html>
