<!DOCTYPE html>
<html>
  <head>
    <title>SSStutterBuddy</title>
    <%= favicon_link_tag asset_path('favicon/favicon-32x32.png') %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
