<!DOCTYPE html>
<html>
  <head>
    <title>SSStutterBuddy</title>
    <%= favicon_link_tag '/favicon/favicon-32x32.png' %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= inertia_ssr_head %>
    <%= vite_react_refresh_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.jsx' %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
